/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 11, 2014, 9:23:11 AM
    Author     : jwoodrin
*/
table{
    border-style: solid;
    color: gold; 
}
th {
    min-width: 150px;
    border-style: solid;
    color: gold;    
}

a{
    color: cyan;
}
td{
    min-width: 150px;
    border-style: solid;
    color: white;    
}
href{
    border:none;
    color: white;
}

#mainBody{
    width: 100%;
    height: 100%;  
    background-color: purple;
}
#headerDiv{
    width: 100%;
    height: 25%;
    background-color: purple;
}
#titleText{
    margin-left: 210px;
    color: gold;
}
#calcDiv{
    margin-top: 50px;
    width: 100%;
    height: 25%;
    background-color: purple;
}

#mgtParams{    
    width: 400px;
}

#inputParams{    
    width: 400px;
}

.workflowSel{
    width: 33%;
}
#workFlow{
    padding-left: 10%;
    width: 80%;
    height: 100%;
    background-color: purple;
    
}
/* the outer div that houses  results table */
#histDiv{
    margin-left: 210px;
    margin-top: 30px;
    width: 100%;
    height: 25%;
    background-color: purple;
}
/* The div that holds the table which contains the job data */
#statusTableBodyDiv{
    
}
/* The table which contains the data on jobs */
#statusTableBody{
    
}

.c1{
    width: 120px;
}
.c2{
    width: 120px;
}
.c3{
    width: 150px;
}
.c4{
    width: 100px;
}
.c5{
    width: 140px;
}
.c6{
    width: 80px;
}
.c7{
    width: 180px;
}
.c8{
     width: 180px;
}
